body {
  background-color: #f0f0f0;
  font-family: 'Bree Serif', serif;
}
.container {
  width: 90vw;
  margin: 0 auto;
  padding: 0px;
}
.padded {
  padding: 32px;
}
p {
  font-family: 'Open Sans', sans-serif;
  margin: 8px;
  padding: 0px;
}
h2 {
  font-family: 'Roboto', sans-serif;
  margin: 8px;
  padding: 0px;
}
h1 {
  font-family: 'Bree Serif', serif;
  margin: 8px;
  padding: 0px;
}
th {
  padding: 16px;
}

p.hidden {
  color: #ffffff00;
}
p.hidden:hover {
  color: #000000ff;
}
